*,
*:after,
*:before {
  cursor: default;
  user-select: none;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(33, 38, 80);
}
h1 {
  font-weight: 400;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.board {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.row {
  display: flex;
  gap: 6px;
}
.board > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: rgb(59, 74, 136);
  width: 125px;
  height: 125px;
  border-radius: 6px;
}
.winner-overlay,
.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
.winner-overlay {
  visibility: hidden;
  opacity: 0.9;
  background: #000;
}

.overlay-content {
  visibility: hidden;

  background: none;
  opacity: 1;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#match-outcome-text,
#play-again {
  color: white;
}

#match-outcome-text {
  text-align: center;
}

#play-again {
  font-size: 28px;
  font-weight: 600;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(76, 110, 139);
  width: 200px;
  height: 55px;
  border-radius: 6px;
  cursor: pointer;
}

#play-again:hover {
  background-color: rgb(63, 119, 169);
}

#play-again:active {
  background-color: rgb(76, 110, 139);
}

#tally-board {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#name-change {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  color: rgb(186, 186, 186);
  border-radius: 6px;
  margin-top: 40px;
  padding: 10px 30px 10px 30px;
  background-color: rgb(23, 28, 49);
}
#player-one-wins-text,
#player-two-wins-text {
  font-size: 18px;
  color: rgb(186, 186, 186);
}

#player-one-wins-num,
#player-two-wins-num {
  color: rgb(49, 149, 177);
}
